{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-1 col-md-12"><div class="logo"><a href="{% url 'website:index' %}"><img src="{% static 'img/logo/logo.png' %}" alt="logo"></a></div></div>
<div class="col-xl-8 col-lg-8 text-center"><div class="main-menu"><nav id="mobile-menu"><ul>
<li class="has-sub"><a href="{% url 'website:index' %}#home">صفحه اصلی</a></li>
<li><a href="#video">درباره من</a></li>
<li class="has-sub"><a href="#services">خدمات</a></li>
<li><a href="#portfolio">نمونه کارها</a></li>
<li class="has-sub">
<li><a href="#testimonial">گواهینامه</a></li>
</li>
<li><a href="#contact">تماس بگیرید</a></li>
</ul></nav></div></div>
<div class="col-xl-3 col-lg-3 text-right d-none d-lg-block"><div class="header-social"><span><a href="#" title="Facebook"><i class="fab fa-behance"></i>رفتار</a><a href="#" title="LinkedIn"><i class="fab fa-dribbble"></i>دریبل زدن</a></span></div></div>
<div class="col-12"><div class="mobile-menu"></div></div>
</div></div></div></div></header><main><section id="parallax" class="slider-area pt-120 fix p-relative"><div class="slider-shape ss-one layer" data-delay=".15s" data-depth="0.10"><img src="{% static 'img/bg/slider_shape01.png' %}" alt="shape"></div>
<div class="slider-shape ss-three layer" data-depth="0.40"><img src="{% static 'img/bg/slider_shape03.png' %}" alt="shape"></div>
<div class="slider-active"><div class="single-slider slider-bg d-flex align-items-center" style="background-image: url('{% static 'img/slider/bg-main.png' %}'); background-color: #fff; "><div class="container"><div class="row justify-content-center align-items-center">
<div class="col-lg-7 col-md-7"><div class="slider-content s-slider-content mt-100 p-relative">
<h5 data-animation="fadeInUp" data-delay=".3s">
<span><img src="{% static 'img/bg/cube.png' %}" alt="icon01"></span>برنامه نویس خلاق</h5>
<h2 data-animation="fadeInUp" data-delay=".6s">سلام من {{name}} برنامه نویس جونیور هستم</h2>
</div></div>
<div class="col-lg-5 col-md-5 p-relative"><div class="img-main" data-animation="fadeInRight" data-delay=".3s"><img src="{% static 'img/slider/main.png' %}" alt="slider-overlay"></div></div>
</div></div></div></div></section><section id="services" class="services-area services-bg p-relative fix pt-120 pb-90" style="background:#1a1d88; "><div class="container"><div class="row">
<div class="col-lg-4 col-md-6"><div class="s-single-services text-center mb-30 wow fadeInUp animated" data-animation="fadeInUp" data-delay=".2s">
<div class="services-icon mb-30"><img src="{% static 'img/icon/se-icon1.png' %}" alt="img"></div>
<div class="second-services-content">
<h3>Django</h3>
<p>من میتونم با استفاده از ماژول جنگو وبسایت دلخواه شما رو بسازم</p>
</div>
</div></div>
<div class="col-lg-4 col-md-6"><div class="s-single-services text-center active mb-30 wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
<div class="services-icon mb-30"><img src="{% static 'img/icon/se-icon2.png' %}" alt="img"></div>
<div class="second-services-content">
<h3>Python</h3>
<p>شما فقط ایده بده و من اون ایده رو به یه پروژه سازگار پایتونی تبدیل میکنم</p>
</div>
</div></div>
<div class="col-lg-4 col-md-6"><div class="s-single-services text-center mb-30 wow fadeInUp animated" data-animation="fadeInUp" data-delay=".6s">
<div class="services-icon mb-30"><img src="{% static 'img/icon/se-icon3.png' %}" alt="img"></div>
<div class="second-services-content">
<h3>HTML, CSS</h3>
<p>میتونم در کنار یه پروژه جنگو یه فرانت اند زیبا هم بسازم</p>
</div>
</div></div>
</div></div></section><section id="portfolio" class="pt-120 pb-110 fix" style="background: #fff;"><div class="container"><div class="portfolio ">
<div class="row align-items-center">
<div class="col-lg-6 col-md-12"><div class="section-title p-relative mb-50 wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
<h5>
<span><img src="{% static 'img/bg/cube.png' %}" alt="icon01"></span>نمونه کارها</h5>
<h2>آثار اخیر</h2>
<p>چند نمونه از پروژه های مختلف من:</p>
</div></div>
<div class="col-lg-6 col-md-6 text-right"></div>
</div>
<div class="home-blog-active wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
<div class="grid-item financial"><figure class="gallery-image"><img src="{% static 'img/gallery/Bitcoin.png' %}" alt="img" class="img"><figcaption><span>پایتون و داده</span><h4>پروژه گرفتن قیمت لحظه ای بیتکوین</h4></figcaption></figure></a></div>
<div class="grid-item financial banking"><figure class="gallery-image"><img src="{% static 'img/gallery/travel.png' %}" alt="img" class="img"><figcaption><span>وب سایت، جنگو</span><h4>سایت گردشگری و هتل</h4></figcaption></figure></a></div>
<div class="grid-item insurance"><figure class="gallery-image"><img src="{% static 'img/gallery/Apogee.png' %}" alt="img" class="img"><figcaption><span>html, css</span><h4>صفحه ثبت نام سایت</h4></figcaption></figure></a></div>
</div>
</div></div></section><div class="counter-area p-relative pt-60 pb-60 fix" style="background-color: #f1f4f6; "><div class="container"><div class="row p-relative">
<div class="col-lg-3 col-md-6 col-sm-12"><div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s"><div class="counter p-relative">
<div class="img-icon"><img src="{% static 'img/bg/cube.png' %}" alt="icon01"></div>
<span class="count">2</span><p>پروژه های فعال</p>
<div class="number">01</div>
</div></div></div>
<div class="col-lg-3 col-md-6 col-sm-12"><div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s"><div class="counter p-relative">
<div class="img-icon"><img src="{% static 'img/bg/cube.png' %}" alt="icon01"></div>
<span class="count">5</span><p>پروژه از قبل انجام شده است</p>
<div class="number">02</div>
</div></div></div>
<div class="col-lg-3 col-md-6 col-sm-12"><div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s"><div class="counter p-relative">
<div class="img-icon"><img src="{% static 'img/bg/cube.png' %}" alt="icon01"></div>
<span class="count">1</span><span>k</span><p>دنبال کنندگان چند پلتفرمی</p>
<div class="number">03</div>
</div></div></div>
<div class="col-lg-3 col-md-6 col-sm-12"><div class="single-counter wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s"><div class="counter p-relative">
<div class="img-icon"><img src="{% static 'img/bg/cube.png' %}" alt="icon01"></div>
<span class="count">3</span><p>کشور لمس شد</p>
<div class="number">04</div>
</div></div></div>
</div></div></div>
<section id="testimonial" class="testimonial-area pt-120 pb-115 p-relative fix"><div class="animations-01"><img src="{% static 'img/bg/an-img-03.png' %}" alt="an-img-01"></div>
<div class="animations-02"><img src="{% static 'img/bg/an-img-04.png' %}" alt="contact-bg-an-01"></div>
<div class="container"><div class="row">
<div class="col-lg-12"><div class="section-title text-center mb-35 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
<h5>بازخورد مشتری</h5>
<h2>مورد اعتماد مشتریان</h2>
</div></div>
<div class="col-lg-12"><div class="testimonial-active wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
<div class="single-testimonial text-center">
<div class="testi-author"><img src="{% static 'img/testimonial/testi_avatar.png' %}" alt="img"></div>
<p>"من واقعا از سایتی که برای فروشگاه من طراحی کردید راضی هستم ممنون"</p>
<div class="ta-info">
<h6>صالح داوری</h6>
<span>فروشنده لباس</span>
</div>
</div>
<div class="single-testimonial text-center">
<div class="testi-author"><img src="{% static 'img/testimonial/testi_avatar_02.png' %}" alt="img"></div>
<p>"من واقعا به برنامه گرفتن قیمت لحظه ای شما احتیاج داشتم"</p>
<div class="ta-info">
<h6>عارف کیانی</h6>
<span>تریدر</span>
</div>
</div>
<div class="single-testimonial text-center">
<div class="testi-author"><img src="{% static 'img/testimonial/testi_avatar_03.png' %}" alt="img"></div>
<p>"واقعا سایتی که برای شرکت ما طراحی کردید عالی و بی نقصه"</p>
<div class="ta-info">
<h6>محمد دادخواه</h6>
<span>مدیرعامل شرکت apogee</span>
</div>
</div>
</div></div>
</div></div></section><section class="brand-area pt-120 pb-120" style="background-image: url('{% static 'img/bg/client-bg.png' %}'); background-position: center top;"><div class="container">
<div class="row justify-content-center"><div class="col-lg-5"><div class="section-title text-center mb-50 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
<h5><img src="{% static 'img/brand/clinet-logo.png' %}" alt="img"></h5>
<h2>1.5k کاربر خوشحال در سراسر جهان</h2>
</div></div></div>
<div class="row brand-active">
<div class="col-xl-2"><div class="single-brand"><img src="{% static 'img/brand/b-logo-w-1.png' %}" alt="img"></div></div>
<div class="col-xl-2"><div class="single-brand"><img src="{% static 'img/brand/b-logo-w-2.png' %}" alt="img"></div></div>
<div class="col-xl-2"><div class="single-brand"><img src="{% static 'img/brand/b-logo-w-3.png' %}" alt="img"></div></div>
<div class="col-xl-2"><div class="single-brand"><img src="{% static 'img/brand/b-logo-w-4.png' %}" alt="img"></div></div>
<div class="col-xl-2"><div class="single-brand"><img src="{% static 'img/brand/b-logo-w-5.png' %}" alt="img"></div></div>
</div>
<div class="row brand-text"><div class="col-lg-12">مشتری بعدی ما باشید<a href="#">تماس بگیرید</a>
</div></div>
</div>
</div>
<div class="container"><div class="row">
<div class="col-lg-7 col-md-12 order-1">
<div class="section-title p-relative mb-50 pl-60 wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
<h5>
<span><img src="{% static 'img/bg/cube.png' %}" alt="icon01"></span>تماس بگیرید</h5>
<h2>با خیال راحت هر چیزی بپرسید</h2>
<p>تحصیلاتی هنوز ندارم و دانش آموز پایه یازدهم هستم</p>
<p>با من میتونید به زبان فارسی و انگلیسی و آلمانی با من صحبت کنید!</p>
</div>
<div class="contact-info pl-60">
</div>
</div>
<div class="col-lg-5 col-md-12 order-2"><div class="contact-bg"><form action="{% static 'mail.php' %}" method="post" class="contact-form"><div class="row">
<div class="col-lg-6"><div class="contact-field p-relative c-name mb-20">
<i class="fas fa-user"></i><input type="text" id="firstn" name="firstn" placeholder="نام" required>
</div></div>
<div class="col-lg-6"><div class="contact-field p-relative c-subject mb-20">
<i class="fas fa-envelope-open"></i><input type="text" id="email" name="email" placeholder="ایمیل" required>
</div></div>
<div class="col-lg-6"><div class="contact-field p-relative c-subject mb-20">
<i class="fas fa-book"></i><input type="text" id="subject" name="subject" placeholder="موضوع">
</div></div>
<div class="col-lg-6"><div class="contact-field p-relative c-option mb-20">
<i class="fas fa-dollar-sign"></i><select name="room" id="rm"><option value="sports-massage">بودجه</option>
<option value="1">100 دلار</option>
<option value="2">200 دلار</option>
<option value="3">300 دلار</option>
<option value="4">400 دلار</option>
<option value="5">500 دلار</option></select>
</div></div>
<div class="col-lg-12">
<div class="contact-field p-relative c-message mb-30">
<i class="fas fa-pencil"></i><textarea name="message" id="message" cols="30" rows="10" placeholder="نظرات را بنویسید"></textarea>
</div>
<div class="slider-btn"><button class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">ارسال درخواست</button></div>
</div>
</div></form></div></div>

{% endblock %}